{# <div class="container mb-5">
<form method="post" action="{{ path('profil_delete', {'id': user.id}) }}" onsubmit="return confirm('Vous êtes sûr de supprimer?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
</div> #}