{% extends 'base.html.twig' %}

{% block title %}Conditions générales{% endblock %}

{% block body %}

<div class="main lightgreen">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="white__title">Conditions générales</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-9">
                <p class="disclaimer__text">
                    <h3>1. Incription sur l'application izisurf.com et création de compte </h3> 

                    <h4>1.1 Conditions d'inscription</h4>
                    <p>Vous devez avoir plus de 18 ans pour vous inscrire sur l'application, toute inscription par une personne mineur est strictement interdite 
                    et nous serions dans l'obligation de supprimer votre compte.</p> 

                    <h4>1.2 Création d'un compte </h4>                
                   <p>Vous vous engagez à nous fournir des informations personnelles exactes. 
                    Pour la mise à jour des données personnelles, vous pouvez vous rendre sur la page mon profil.</p> 
                    
                    <h3>2. Les services</h3>

                    <h4>2.1 Ajout d'un trajet</h4>
                    <p>Lorsque vous avez créé votre compte, vous pouvez créer un trajet en remplissant le formulaire "proposer un trajet": 
                        <ul>
                            <li>- La ville de départ</li>
                            <li>- Le lieux de rendez-vous</li>
                            <li>- Le spot d'arrivée</li>
                            <li>- La date d'aller</li>
                            <li>- L'heure de départ</li>
                            <li>- La date de retour (optionnel)</li>
                            <li>- L'heure de retour</li>
                            <li>- La voiture utilisée pour le trajet</li>
                            <li>- Le nombre de places assises dispo</li>
                            <li>- Le nombre de planche que vous pouvez transporter</li>
                            <li>- La taille maximale des planches que vous pouvez transporter</li>
                            <li>- Si vous voulez voyager avec des personnes de même genre</li>
                            <li>- Le prix demandé</li>
                            <li>- Les précisions supplémentaires sur le trajet</li>
                            <li>- Vous devez certifier être en possession du permis valide</li>
                        </ul>
                        Vous vous engagez à nous fournir des informations exactes sur le trajet.
                        izisurf.com se réserve le droit de supprimer toutes annonces non conforme.
                    </p>

                    <h4>2.2 Recherche d'un trajet</h4>
                    <p>Lorsque vous avez créé votre compte, vous pouvez rechercher un trajet en remplissant le formulaire "recherche un trajet": 
                        <ul>
                            <li>- La ville de départ</li>
                            <li>- Le Spot d'arrivée</li>
                            <li>- La date d'aller</li>
                            <li>- La date de retour (optionnel)</li>
                            <li>- Le nombre de passagers</li>
                            <li>- Le nombre de planches à transporter</li>
                            <li>- La taille de la plus grande planche à transporter</li>
                            <li>- Si vous voulez voyager avec des personnes de même genre</li>
                        </ul>
                        Si aucun trajet correspond à votre recherche, nous vous enverrons un email lorsque un trajet créé correspond à votre recherche.
                    </p>

                    <h4>2.3 Reserver votre place</h4>
                    <p>Pour reserver votre place vous devez faire votre demande en ligne. Cette demande de reservation doit être acceptée pour le conducteur.
                    Nous vous avertissons en cas de refus ou d'acceptation sur le trajet demandé.
                    </p>

                    <h4>2.4 Caractère nominatif de la réservation</h4>
                    <p>Toute utilisation des services sur l'application izisurf.com est nominatif. Lors du trajet vous devez correspondre à votre identité sur l'application.
                        Le conducteur est en droit de refuser toutes personnes ne correspondant pas à son identité sur le site et le passager est en droit de refuser le trajet si 
                        le conducteur ne correspond pas à son identité sur l'application.
                    </p>

                    <h4>2.5 système d'avis</h4>
                    <p>Au lendemain du début du trajet, vous allez recevoir par mail un lien pour donner un avis sur le conducteur et le conducteur un lien pour donner un avis sur les passagers.
                        izisurf.com encourage à laisser un avis.
                        izisurf.com se reserve le droit de supprimer tous les commentaires dont elle jugerait le contenu contraire aux conditions générales.
                    </p>

                    <h3>3. Les conditions financières</h3>
                    <h4>3.1 Accès à l'application</h4>
                    <p>L'inscription, la recherche de trajet et la proposition de trajet est gratuite, seul le trajet est payant. Pour connaître le tarif du trajet
                        veuillez-vous rendre sur page qui résume le trajet. Vous pouvez connaître le tarif du trajet avant de faire une demande de reservation.
                    </p>
                    <h4>3.2 Participation aux frais</h4>
                    <p>Le prix demandé lors du trajet est fixé par le conducteur.
                        Le frais tiennent compte de :
                        <ul>
                            <li>La distance parcourue</li>
                            <li>Des eventuels péages</li>
                            <li>l'usure de la voiture</li>
                        </ul>

                        Il est strictement interdit au conducteur d'en tirer le moindre bénéfice.
                    </p>

                    <h4>3.3 trajet non commerciale et non professionnelle</h4>
                    <p>Vous vous engagez à utiliser l'application izisurf.com que pour être mis en relation, à titre non professionnel et non commercial</p>

                    <h3>4. Annulation</h3>
                    <h4>4.1 Droit de rétractation</h4>

                    <p>Avec l'application izisurf.com le droit de retractation est souple. Cepandant, pour le bon fonctionnement de l'application,
                        nous demandons aux conducteurs d'annuler le trajet au moins 48 heures avant le départ avec la raison de l'annulation et nous demandons aux passagers 
                        d'annuler la reservation 48h avant le départ en ajoutant la raison de l'annulation.
                    </p>

                    <h3>5. Les régles à tenir lors du trajet</h3>
                    <h4>5.1 Les Conducteurs</h4>
                    <ul>
                        <li>- Ne pas utiliser izisurf.com à des fins professionneelles,</li>
                        <li>- Respecter l'ensemble du code de la route,</li>
                        <li>- Vous assurer que votre assurance couvre le covoiturage,</li>
                        <li>- Utiliser un véhicule en parfait état de fonctionnement,</li>
                        <li>- Communiquer à izisurf.com ou à un passager qui vous en fait la demande, Votre carte grise, votre attestation d'assurance ainsi que votre permis,</li>
                        <li>- Avoir un comportement responsable lors du trajet</li>
                    </ul>

                    <h4>5.2 Les passagers</h4>
                    <ul>
                        <li>- Respecter le véhicule du conducteur,</li>
                        <li>- Avoir un comportement convenable lors du trajet,</li>
                        <li>- Vous assurer de garder votre téléphone en main pour être joignable par le conducteur,</li>
                        <li>- Lors du trajet, ne pas transporter de produit contraires aux dispositions légales en vigueur,</li>
                    </ul>                  

                </p>
            </div>  
        </div>

    </div>
</div>

{% endblock %}