{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block body %}

<div class="main lightgreen">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="white__title">Qui sommes-nous?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="team__explaination">
                    <p>Izisurf est un site conçu pour et par des surfeurs.</p>
                    <p>L'équipe s'est rencontrée sur les bancs virtuels de l'école de développement web O'Clock.</p>
                    <p class="team__subtitle-tech">T E A M</p>
                    <p>À l'origine du projet : Pénélope Rageau</p>
                    <p>avec l'immense soutien d'Aurélien Brison et Jonathan Dujols</p>
                    <p>et la participation de Milouda Asbai et Virginie Hugnet</p>
                </div>  
            </div>
        </div>
    </div>
</div>

{% endblock %}