{% extends 'base.html.twig' %}

{% block title %}Conditions générales{% endblock %}

{% block body %}

<div class="main lightgreen">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="white__title">Conditions générales</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-9">
                <p class="disclaimer__text">
                        Page en construction
                </p>
            </div>  
        </div>

    </div>
</div>

{% endblock %}