{% extends "base.html.twig" %}

{% block body %}

<div class="container-fluid darkgreen">
    <div class="row justify-content-center">
        <div class="col-12 container-404"></div>
    </div>
</div>

{% endblock %}